<article class="post">
    <div class="meta">
        <% if (page.categories && page.categories.length) { %>
        <div class="categories<%= theme.uppercase_categories ? ' text-uppercase' : '' %>">
        <% page.categories.forEach((category) => { %>
            <a href="<%= config.root + category.path %>"><%= category.name %></a>
        <% }) %>
        </div>
        <% } %>

        <% if (!page.no_date) { %>
        <div class="date" id="date">
            <span><%= ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][page.date.month()] %></span>
            <span><%- page.date.date() %>,</span>
            <span><%- page.date.year() %></span>
        </div>
        <% } %>

        <h2 class="title"><%= page.title %></h2>

    </div>

    <% if (!page.no_divider) { %>
        <div class="divider"></div>
    <% } %>

    <div class="content">
        <%- page.content %>
    </div>
    <script>
        ScrollReveal().reveal('.content',{ delay: 100});
    </script>

    <a id="return-to-top">
        <i class="icon-chevron-up"></i>
    </a>
    <script type="text/javascript" src="/js/self-return-to-top.js"></script>

    <% if (!page.no_scrollProgress) { %>
        <div id="percentage">
            <div class="fill"></div>
        </div>
        <script type="text/javascript" src="/js/self-scroll-progress.js"></script>
    <% } %>

    <% if (!page.no_about) { %>
        <div class="about">
            <h1><%= __('about_this_post') %></h1>
            <div class="details">
                <% if (page.tags && page.tags.length) { %>
                <p class="tags<%= theme.capitalize_tags ? ' text-capitalize' : '' %>">
                    <%
                        var tags = ''
                        page.tags.forEach((tag) => {
                            tags += `<a href="${config.root}${tag.path}" class="tag">${theme.hashtag_prefix_before_tags ? '#' : ''}${tag.name}</a>${theme.hashtag_prefix_before_tags ? '' : ','}`
                        })
                        if (!theme.hashtag_prefix_before_tags) { tags = tags.slice(0, tags.length - 1) }
                    %>
                    <%- __('tagged_with', tags) %>
                    .
                </p>
                <% } %>
                <p><%- __('this_post_is_written_by', config.author) %>, <%- __('licensed_under', `<a href="${theme.license_link}">${theme.license}</a>`) %>.</p>
            </div>
        </div>
    <% } %>

    <div class="container">
        <div class="post-nav">
            <% if (page.next) { %>
                <div class="nav__prev">
                    <a href="<%- url_for(page.next.path) %>" class="nav__link">
                        <div>
                            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M589.088 790.624L310.464 512l278.624-278.624 45.248 45.248L400.96 512l233.376 233.376z" fill="#808080"></path></svg>
                        </div>
                        <div>
                            <div class="nav__label">Previous Post</div>
                            <div class="nav__title"><%= page.next.title %></div>
                        </div>
                    </a>
                </div>
            <% } %>
            <% if (page.prev) { %>
            <div class="nav__next">
                <a href="<%- url_for(page.prev.path) %>" class="nav__link">
                    <div>
                        <div class="nav__label">Next Post</div>
                        <div class="nav__title"><%= page.prev.title %></div>
                    </div>
                    <div>
                        <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M434.944 790.624l-45.248-45.248L623.04 512l-233.376-233.376 45.248-45.248L713.568 512z" fill="#808080"></path></svg>
                    </div>
                </a>
            </div>
            <% } %>
        </div>
    </div>

    <% if (!page.no_comments) { %>
        <% if (config.waline) { %>
            <div class="container">
                <div id="waline"></div>
                <script>
                    Waline.init({
                        el: "#waline",
                        <% for (const i in config.waline) { %>
                        <%- i %>: <%- config.waline[i] %>,
                        <% } %>
                    });
                </script>
            </div>
        <% } %>
        <% if (config.giscus) { %>
        <%- config.giscus %>
        <% } %>
    <% } %>
</article>