<footer>
    <div class="inner" style="text-align:center">
<!--        <div class="links">-->
<!--            <% for (const i in theme.footer) { %>-->
<!--            <div class="group">-->
<!--                <h4 class="title"><%= i %></h4>-->
<!--                <% for (const n in theme.footer[i]) { %>-->
<!--                <a href="<%- theme.footer[i][n] %>" class="item"><%= n %></a>-->
<!--                <% } %>-->
<!--            </div>-->
<!--            <% } %>-->
<!--        </div>-->
        <% if (config.busuanzi.enable) { %>
            <div class="container" style="margin-bottom: 10px">
                <span id="busuanzi_container_site_uv">
                    <span id="busuanzi_value_site_uv"></span>&nbsp;Viewers&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
                </span>
                <span id="busuanzi_container_site_pv">
                    <span id="busuanzi_value_site_pv"></span>&nbsp;Views
                </span>
            </div>
        <% } %>

        <span>Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></span>

        <% if (theme.show_color_scheme_toggle) { %>
            <br>
            <div class="color-scheme-toggle" role="radiogroup" id="theme-color-scheme-toggle" >
                <label>
                    <input type="radio" value="light">
                    <span style="color: var(--pink-purple)">Light</span>
                </label>
                <label>
                    <input type="radio" value="dark">
                    <span style="color: var(--pink-purple)">Dark</span>
                </label>
                <label>
                    <input type="radio" value="auto">
                    <span style="color: var(--pink-purple)">Auto</span>
                </label>
            </div>
        <% }%>
    </div>
</footer>
